= form_for @event do |f|
  %p
    = f.error_messages
  %p
    = f.label :name, 'Name of event: '
    = f.text_field :name
  %p
    = f.label :event_day, 'Event day: '
    = f.text_field :event_day, :class=>'event_datetime_picker', :value=>@event.new_record? ? '' : "#{@event.event_day.month}/#{@event.event_day.day}/#{@event.event_day.year} #{@event.event_day.time.hour <10 ? "0#{@event.event_day.time.hour}": "#{@event.event_day.time.hour}"}:#{@event.event_day.time.min < 10 ? "0#{@event.event_day.time.min}" : "#{@event.event_day.time.min}" }" 
    
    - unless @event.errors[:event_day].empty? 
      = link_to("Show events at #{Place.find(@event.place_id).name} on #{@event.event_day.day}/#{@event.event_day.month}/#{@event.event_day.year}", events_at_place_path(@event.place_id, @event.event_day))
  %p
    = f.label :duration, 'Event duration: '
    = f.text_field :duration
    minut
  %p
    = f.label :place_id, 'Event place: '
    = collection_select(:event, :place_id, @places, :id, :name)
  %p
    = f.label :max_users, 'Max users for that event: '
    = f.text_field :max_users
  
  %p
    = f.label :description, 'Event description'
  %p
    = f.text_area :description, :rows => 5

  %p
    = f.submit label

