.box
  %h1 
    = "#{@event.name}"
    - unless @event.is_owner? current_user
      = join_or_resign_from_event_link(current_user, @event, :class=>'big_link')
    - else
      = link_to 'Edit', edit_event_path(@event), :class=>'big_link'
      = link_to 'Remove', event_path(@event), :method => :delete, :confirm => "Do You really want to remove event?", :class=>'big_link'

  %h3{:style=>'padding-bottom: 10px'}= link_to(@event.place.address, place_path(@event.place), :class=>'big_link') unless @event.place.nil?

  %div
    %p
      = @event.description
    %h4
      = "Oni się już zapisali:" unless @event.users.empty?
    %p
      -unless  @event_users.count > 0 then
        Jeszcze nikt się nie zapisał. Bądź pierwszy!
      %table
        - @event_users.each do |event_user|
          %tr{:style=>'padding-bottom: 20px'}
            %td{:style=>'padding-right: 10px;' }
              = link_to image_tag('http://placehold.it/60x60'), user_profile_path(event_user)
            %td= link_to event_user.nickname, user_profile_path(event_user), :class=>'signed_user'

      %p{:style=>'padding-top: 50px;'}= "Zarejestrowanych  #{@event.users.count}/#{@event.max_users}"

  %div{:style=>'padding-top: 50px;'}
    = link_to 'Zgłoś nadużycie', event_reports_path(@event), :method => :post
