%h1 
  = "#{@event.name}"
  |
  - unless @event.is_owner? current_user
    = join_or_resign_from_event_link(current_user, @event)
  - else
    = link_to 'Edit', edit_event_path(@event)

%h3= "#{@event.place.address}" unless @event.place.nil?

%div
  %p= "Zarejestrowani użytkownicy na event" unless @event.users.empty?
  %p
    %table
      - @event_users.each do |event_user|
        %tr
          %td= event_user.email
    = "Zarejestrowanych  #{@event.users.count}/#{@event.max_users}"
%div
  = link_to 'Zgłoś nadużycie', event_reports_path(@event), :method => :post
