.span4
  = form_for( @place, :html => { :multipart => true } ) do |f|
    - if @place.errors.any?
      #error_explanation
        %h2
          = pluralize(@place.errors.count, "error") 
          prohibited this place from being saved:

        %ul
          - @place.errors.full_messages.each do |msg|
            %li= msg

    %p
      = f.label :name
      = f.text_field :name
  
    %p
      = f.label :city_id, 'City:'
      = collection_select(:place, :city_id, @cities, :id, :name)
  
    %p
      = f.label :address
      = f.text_field :address, :class=>'address_field'

    %p
      = f.label :description
      = f.text_area :description, :rows=>5
    %p
      = f.check_box :closed 
      = f.label :closed, :style=>'display: inline'
    %p
      = f.label :pix1, 'Picture 1:'
      = f.file_field :pix1
    %p
      = f.label :pix1, 'Picture 2:'
      = f.file_field :pix2
    %p
      = f.label :pix1, 'Picture 3:'
      = f.file_field :pix3
  
    %p
      = f.submit :class=>'btn'

.span7{:style=>'height: 840px'}
  #google_map{:style=>"width:300px; height:300px"}
= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBuEIvDU8dcjpLBnws8FkSfD_N4LpXJnks&sensor=false"
  

:javascript
  $(document).ready(function() {
    $('#place_address').blur( function() {
      var address = $('#place_address').val();
      var city = $('#place_city_id').val();
      
      $.ajax({
        url:'http://localhost:3000/places/geocode', 
        dataType:'json', 
        type:'get', 
        success: function(res) {
          as=res;
          console.log(res);
          var mapOptions = {
                center: new google.maps.LatLng(res[0].data.geometry.location.lat, res[0].data.geometry.location.lng),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          
          var map = new google.maps.Map(document.getElementById("google_map"), mapOptions);
          
          var marker = new google.maps.Marker({
                          position: map.getCenter(),
                          map: map,
                          title: res[0].data.formatted_address
                        });
        },
        data:'address=' +address+ '&city=' +city })
    });
  })
