!!!
%html
  %head
    %title NaSport.pl
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = #javascript_include_tag "jquery.lightbox-0.5.min"
    = csrf_meta_tags

  %body 
    = render 'layouts/top'
    = image_tag 'beta.gif',:class=>'beta_sign'
    .container
      = yield
    
  %footer.main
    = render 'layouts/footer'
